@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.card{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
  transition:1s;
  border-radius: 20px;
}
.card:hover{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.253);
}
a{
	text-decoration: none;
}
.main-div{
    width: 400px!important;
}

@media only screen and (max-width: 575px){
.card{
    position:absolute!important;
    height:100%!important;
}
.main-div{
    width: 100%!important;
}
}


/* checkbox toogle dark theme */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
  margin-left: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right,hsl(210, 78%, 56%),hsl(146, 68%, 55%));
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background: hsl(225deg 67% 96%);
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before{
    background: hsl(228, 28%, 20%);
    
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.dark-input{
    background: rgb(54, 57, 63)!important;
    color: white!important;
    border-color: rgb(54, 57, 63)!important;
}
.dropdown-item:hover{
  background:rgba(165, 165, 165, 0.349)!important;
}