.user {
    height: 284px;
    overflow-y: auto;
    overflow-x: hidden;
}
.search{
    cursor: pointer;
}
.fas{
    cursor: pointer;
}
.status {
    font-size: 10px;
    position: relative;
    top: -3px;
}
.text-dark:hover {
    color: #484b4e!important;
}
.unseen{
    width: 22px;
    height: 22px;
    font-size: 10px;
    text-align: center;
    line-height: 22px;
}
.hover {
    transition: 0.3s ease;
}
.hover:hover {
    background-color: #ebebeb;
}
.user::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}
.user::-webkit-scrollbar-thumb {
    background: rgb(197 197 197);
    border-radius: 10px;
}
.user::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}
.user::-webkit-scrollbar-thumb:active {
    background-color: rgb(171 166 166);
}
