{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    {% endblock %}
    {% block body %}
            <div class="w-25 mx-auto main-div" style="min-width:300px;">
        <div class="container card px-0 pb-3 pt-2" >
          {% include "flash.html" %}
          <div class="d-flex mb-2 ">
                    <div class="d-flex align-items-center ms-3">
                      <i class="fa fa-arrow-left me-2" aria-hidden="true"></i>
                        <img class="rounded-circle border pfp border-dark"  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Fpopular-services-brands-vol-2%2F512%2Fstackoverflow-512.png&f=1&nofb=1" width=35 height=35>
                        </img>
                    </div>
                    <div class="ps-2">
                        <span class="fw-bold">
                            Charchit
                        </span>
                        <br>
                            <span>
                                Online
                            </span>
                        </br>
                    </div>
                </div>
    <div id="container" style="overflow-y: auto; height:100%; background: #f8f8f8">
    </div>
    
<div class="input-group ">
  <input type="text" id="my_inp" class="form-control" placeholder="Type a message...">
  <button class="btn btn-dark" type="submit" id="send"><i class="fab fa-telegram-plane"></i></button>
</div>

</div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="{{url_for('static',filename='app.js')}}"></script>

   <script type="text/javascript">
     function write(msg, pos,direct ) {
    var msg1 = document.createElement("div")

    // var span = document.createElement("span")
    // span.id = "type"
    // if (direct != "")
   // span.innerText = "\n"+direct
    msg1.innerText = msg
    msg1.classList.add("message")
    msg1.classList.add(pos)
    // msg1.append(span)
    $("#container").append(msg1)
    // if (pos == "left") {
    //     audio.play()
    // }
    container.scrollTop = container.scrollHeight - container.clientHeight;

}

 $(document).ready(function(){
    socket = io.connect(document.href );
    socket.on('connect', function() {
        
  });
  socket.on("connected", data => {
    console.log(data)
  })

   $(document).keypress(event=>{
    if (event.which == 13) {
       $("#send").trigger("click")
     }

   })
  $("#send").click(function(e){
    // e.preventDefault()
    socket.emit("message",$("#my_inp").val())
    write($("#my_inp").val(),"right")
    $("#my_inp").val("")
  })
  socket.on("msg", data => {
    console.log(data)
    write(data,"left")
  })
});
   </script>
    {% endblock %}