{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    {% endblock %}
    {% block body %}
            <div class="w-25 mx-auto main-div">
        <div class="container card px-0 pb-3 pt-2" style="padding:0px!important" >
          <div class="d-flex pb-2" style="box-shadow: 0px 2px 10px rgb(0 0 0 / 25%); z-index: 10; ">
                    <div class="d-flex align-items-center ms-3">
                      <a href="/"><i class="fa fa-arrow-left me-2" aria-hidden="true"></i></a>
                        <img class="rounded-circle border pfp border-dark"  src="{{user.pic|get_img}}" width=35 height=35>
                    </div>
                    <div class="ps-2 ">
                        <span class="fw-bold fs-4">
                            {{user.username}}
                        </span>
                        <br>
                            <span id="status">
                              {% if user.status == "Online" %}
                                Online
                              {% elif user.status == "secondary" %}
                               New User
                               {% elif user.status == "deleted" %}
                               Last Seen {{user.last_active}} 
                               {% else %}
                               Last Seen {{user.status}}
                              {% endif %}
                                
                            </span>
                    </div>
                </div>
    <div id="container" style="overflow-y: auto; height:100%; background: #f8f8f8">
          {% include "flash.html" %}

      {% if message|length == 0 %}
      <div class="px-2 d-flex align-items-center justify-content-center h-100 empty">
                            <p class="text-center text-muted">
                                No messages available. Once You send they will appear here
                            </p>
                        </div>
                      {% endif %}
      {% for i in message %}
        <div class="d-flex mt-3" style="float: {{i.msg_type}}; clear: both; margin: 5px; ">
          {% if i.msg_type == "left" %}
        <img class="rounded-circle border pfp border-dark"  src="{{user.pic|get_img}}" width=25 height=25>
        {% endif %}
        <div id="{{i.id}}" class="message  {{i.msg_type}}">
        <div class="float-end ms-2 change_btn"><i class="fa-angle-down {{i.msg_type}} fas fa-1x" ></i></div>
        {{i.msg}} 
        <div style="font-size: 10px"><span class="times float-end">{{i.time}}</span></div>
        </div>
      </div>
      {% endfor %}
       <button class="scroll btn btn-light btn-sm" type="button" ><i class="fas fa-angle-down" ></i></button>
    </div>
<div class="input-group" style="box-shadow: 0px -3px 10px rgb(0 0 0 / 25%); z-index: 10;">
   {% if user.status != "deleted" %}
  <input type="text" id="my_inp" class="form-control" placeholder="Type a message..." maxlength="1999" autocomplete="off">
  <button class="btn btn-dark" type="submit" id="send"><i class="fab fa-telegram-plane"></i></button>
{% else %}
  <p class="w-100 mb-0 text-dark text-center">You can't send message anymore.<br>The user deleted their account.</p>
{% endif %}
</div>

</div>
</div>
  <ul id="contextMenu" class="dropdown-menu">
    
  </ul>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>

   <script type="text/javascript">


    //custom functions to be called



    function resize_div() {
    $(".message").css({
        "max-width": `${$(".card").width()-100}px`
    })
    }
    function hideMenu(e) {
      
      if (e.target.classList[0] != "fa-angle-down"){
        drop.style.display = "none";
      }
      else{
        menu(e)
      }
    }
    function position(event){
          var mousePosition = {};
    var menuPostion = {};
    var menuDimension = {};

    menuDimension.x = $(contextMenu).width();
    menuDimension.y = $(contextMenu).height();
    mousePosition.x = event.pageX;
    mousePosition.y = event.pageY;

    if (mousePosition.x + menuDimension.x > $(window).width() + $(window).scrollLeft()) {
        menuPostion.x = mousePosition.x - menuDimension.x;
    } else {
        menuPostion.x = mousePosition.x;
    }

    if (mousePosition.y + menuDimension.y > $(window).height() + $(window).scrollTop()) {
        menuPostion.y = mousePosition.y - menuDimension.y;
    } else {
        menuPostion.y = mousePosition.y;
    }

    return menuPostion;
    }
    function menu(e) {
     
      let cl = e.target
      if (cl.classList[0] == "message" || cl.classList[0] == "fa-angle-down"){
        
        e.preventDefault();
        if (cl.classList[1] == "right") {
          $(drop).html(`<li><button  class="delme dropdown-item">Delete for me</button></li><button class=" delev dropdown-item" >Delete For everyone</button></li>
            <li><button  class="dropdown-item edit_chat">Edit Message</button><li><button class="dropdown-item del_msgs">Delete all</button></li>`)
        } else {$(drop).html(`<li><button class="delot dropdown-item">Delete Message</button></li><li><button class="dropdown-item del_msgs">Delete all</button></li>`)}
        drop.style.display = "block"
        pos = position(e)
        drop.style.left = pos.x + "px"
        drop.style.top = pos.y + "px"
        if (e.target.id == ""){
          ids = $(e.target).parent().parent().attr("id")
          
        }
        else{
        ids = e.target.id
      }
      console.log(e)
      
        $(".delot").click(function(){
          if (confirm("Do you really want to delete this?!")){
          socket.emit("change",{id:ids,type:"user_d",user:"{{user.username}}",current_user:"{{current_user.username}}"})
        }
        })

        $(".delme").click(function(){
          if (confirm("Do you really want to delete this?!")){

          socket.emit("change",{id:ids,type:"cur_d_me",user:"{{user.username}}",current_user:"{{current_user.username}}"})
        }
        })
        $(".delev").click(function(){
          if (confirm("Do you really want to delete this?!")){

          socket.emit("change",{id:ids,type:"cur_d_all",user:"{{user.username}}",current_user:"{{current_user.username}}"})
        }
        })
        $(".edit_chat").click(function(){
          alert("Coming Soon!!")
        })
      $(".del_msgs").click(function() {
          if (confirm("Do you really want to delete this?!")){
            socket.emit("delete_all_msg", {
                user: "{{user.username}}",
                current_user: "{{current_user.username}}"
            })
          }
        })
    
        }
      else{
        
        hideMenu(e)
      }  
        
    }
        const format_date = (date) => {
          d = new Date(date + " UTC")
          formatted_date = `${d.toDateString().slice(4,10)} ${d.toTimeString().slice(0,5)}`
          
          return formatted_date
        }
    function append_no_msg() {
        $("#container").html(`<div class="px-2 d-flex align-items-center justify-content-center h-100 empty">
                            <p class="text-center text-muted">
                                No messages available. Once You send they will appear here
                            </p>
                        </div>`)
    }
    function write(msg, pos, date,id,user) {
        $("#container").append(`<div class="d-flex mt-3" style="float: ${pos}; clear: both; margin: 5px; ">
              ${pos=="left" ? 
          '<img class="rounded-circle border pfp border-dark"  src="{{user.pic|get_img}}" width=25 height=25>' : ''
    }

            <div id=${user == "{{current_user.username}}" ? `${id}` : `${parseInt(id+1)}`} class="message ${pos}">  <div class="float-end ms-2 change_btn"><i class="fa-angle-down ${pos} fas fa-1x" ></i></div>
            </div>
          </div>
          `)
        a = document.createTextNode(msg)
        $(".message").last().append(a)
        $(".message").last().append(`<div style="font-size: 10px"><span class="float-end">${format_date(date)}</span></div>`)
        container.scrollTop = container.scrollHeight - container.clientHeight;
        resize_div()
    }
function dis(msg){
    $(".container").prepend(`<div class="alert  alert-success alert-dismissible fade show" role="alert" style="position:fixed; width:${$(".container").width()}px; z-index:11;">
    ${msg}
    <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button">
    </button>
</div>`)
           setTimeout(function() {$(".show").hide()}, 2000);
}



// document ready events



    $(document).ready(function() {
        const audio = new Audio("{{url_for('static',filename='audio/notification.mp3')}}")
        if (document.cookie == "muted=true"){
          audio.muted = true
        }
        else{
          audio.muted = false
        }
        const hasNumber = /\d/;
        var timeout
        let date = document.querySelector("#status")
        if (date.innerText != "New User" && date.innerText != "Online") date.innerText = "Last Seen " +format_date(date.innerText)
        msg_date = document.querySelectorAll(".times")
        msg_date.forEach(e => {
          e.innerText = format_date(e.innerText)
        })

        drop = document.querySelector(".dropdown-menu")
        div = document.querySelectorAll(".message")
        btn = document.querySelectorAll(".change_btn")
        document.oncontextmenu = menu
        document.onclick = hideMenu;
        div.forEach(e => {
            e.oncontextmenu = menu
        });
        btn.forEach(e => {
            e.onclick = menu
        });
        resize_div()
        $(window).resize(function() {
            resize_div()
        });
        container.scrollTop = container.scrollHeight - container.clientHeight;
        $(container).scroll(function() {
            if (container.scrollTop < container.scrollHeight - container.clientHeight) {
                $(".scroll").fadeIn()
            } else {
                $(".scroll").fadeOut()
            }
        })
        $(".scroll").click(function(e) {
            container.scroll({
                top: container.scrollHeight - container.clientHeight,
                behavior: "smooth"
            })
        })
        $(document).on("visibilitychange",()=>{
            if (document.visibilityState === "hidden") {
                
              } else  {
                setTimeout(function() {$("title").text("ChatApp")}, 2000);
                
              }
        })


        socket = io.connect(document.href);
        socket.on('connect', function() {});

        // socket emiting

        inp = document.getElementById('my_inp')
        try{
        inp.oninput = () =>{
            clearTimeout(timeout)
            socket.emit('typing', {user:"{{user.username}}", typing:true}) 

          timeout=setTimeout(() => {
            socket.emit('typing', {user:"{{user.username}}", typing:false})
          }, 2000) 
        }
        $(document).keypress(event => {
          
          if(event.which==13){
            $("#send").trigger("click")
        }
      })
        $("#send").click(function(e) {
          if ($("#my_inp").val() != "") {
                clearTimeout(timeout)
                socket.emit("message", {
                    msg: $("#my_inp").val(),
                    user: "{{user.username}}"
                }, (d) => {
                    if (d == "done!") {
                        console.log("client recieved the message")
                    }
                })
                $("#my_inp").val("")
            }
        })}
        catch{
          console.log("error")
        }

      $(".del_msgs").click(function(){
        console.log("sfs")
          socket.emit("delete_all_msg",{user:"{{user.username}}",current_user:"{{current_user.username}}"})
        })



      // socket listening events


                socket.on("disconnect", (reason) => {
            dis("You have disconnected from the server. Reconnecting...")
        });
        socket.io.on("reconnect", () => {
            dis("You have successfully reconnected to server.")
          });
        socket.on("status", data => {

          if (data.user != "{{current_user.username}}" && data.user == document.location.pathname.slice(6)){
           data.status == "Online" ? $("#status").text(data.status) : $("#status").text(`Last seen ${format_date(data.status)}`)
          }
        })
        socket.on("deleted_all", data => {
          append_no_msg()

        })
        socket.on("account_delete",(data)=>{
          console.log(document.location.pathname.slice(6) == data,"fsfsfs")
          if (document.location.pathname.slice(6) == data){
            $(".input-group").html(`<p class="w-100 mb-0 text-dark text-center">You can't send message anymore.<br>The user deleted their account.</p>`)
          }
        })
        socket.on("msg", data => {
        

            $(".empty").remove()
            if (data.status != "secondary"){
            data.status == "Online" ? $("#status").text(data.status) : $("#status").text(`Last seen ${
              format_date(data.status)}`)
          }
            if (data.user == "{{current_user.username}}") {
                if (data.rec_user == document.location.pathname.slice(6)) {
                    write(data.msg, "right", data.date,data.id,data.user)
                }
            } else if (data.user == document.location.pathname.slice(6)) {
                write(data.msg, "left", data.date,data.id,data.user)
                if (!hasNumber.test($("title")[0].innerText)){
                  if (document.hidden){
                $("title").text("(1) ChatApp")
                audio.play()
              }
            }
                else{
                  if (document.hidden){
                audio.play()
                $("title").text(`(${parseInt($("title")[0].innerText.slice(1,2)) + 1}) ChatApp`)   
              }
            }
            }
        })
        socket.on("error_msg", data =>{
          alert(data["error"])
        })
        socket.on("change_ok", data =>{
          if (data.user == "{{current_user.username}}" ){
            if (data.type == "cur_d_msgs"){
              $(".message").remove()
            }
            $(`#${data.id}`).parent().remove()
        }else{
          if (data.type == "cur_d_all"){
          $(`#${parseInt(data.id)+1}`).parent().remove()
        }
        }
        if ($(".message").length == 0) append_no_msg()
        })

      socket.on("type", data => {
    let original_status = $("#status").text()
    if (data.user == document.location.pathname.slice(6)){
    if (data.typing == true) {
        $("#status").html("<span style='color:green;font-weight:bolder;'>Typing..<span>")        
    }
    else {
        $("#status").text("Online")
    }
  }
})

    });
   </script>
    {% endblock %}