{% extends "layout.html" %}
{% block body %}
<div class="w-25 mx-auto main-div" style="min-width:300px">
    <div class="container card px-3 py-3" style="padding:1rem!important">
        {% if register %}
        <h3 class="text-center">
            SignUp
        </h3>
        {% include "flash.html" %}
        <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="form-group mt-2">
                {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid username") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>
                        {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                        {{ form.username(class="form-control username") }}
                    {% endif %}
            </div>
            <div class="form-group mt-2">
                {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>
                        {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
            </div>
            <div class="form-group mt-2">
                {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>
                        {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
            </div>
            <div class="form-group mt-2">
                {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>
                        {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                        {{ form.confirm_password(class="form-control") }}
                    {% endif %}
            </div>
            <div class="d-grid gap-2 mt-2">
                {{ form.submit(class="btn btn-primary text-center")}}
                <p>Already have account?<a class="ms-1" href="/signin">Sign In</a></p>
            </div>
        </form>
        {% else %}
        <h3 class="text-center">
            Confirm Email
        </h3>
        {% include "flash.html" %}
                <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="form-group mt-2">
                {{ form.otp.label(class="form-control-label") }}
                    {% if form.otp.errors %}
                        {{ form.otp(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.otp.errors %}
                    <span>
                        {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                        {{ form.otp(class="form-control") }}
                    {% endif %}
            </div>
                <div class="d-grid gap-2 col-6 mx-auto mt-3">
        <button class="btn btn-dark btn- mx-2 otp" type="button">
            Send OTP
        </button>
        <label class=" text-center text-danger my-1 label-otp">
        </label>
    </div>
                        <div class="d-grid gap-2 mt-2">
                {{ form.submit(class="btn btn-primary text-center")}}
            </div>    
        </form>
            <script charset="utf-8" src="{{url_for('static',filename='js/otp.js')}}" type="text/javascript">
    </script>
        {% endif %}

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
    socket = io.connect(document.href);
    $("#submit").click(function(){    
        socket.emit("register",$(".username").val())
    })

})
</script>
{% endblock %}
