{% extends "layout.html" %}
{% block body %}
{% include "flash.html" %}
    <div class="container mt-5">
          <h1 class="text-center display-4">Sign In</h1>
<form action="/signin" method="post">
              <div class="mb-3">
                <label for="name" class="form-label">Username</label>
                <input type="name" name="username" id="name" class="form-control" aria-describedby="emailHelp" required>
              </div>
              <div class="mb-3">
                <label for="pass" class="form-label">Password</label>
                <input type="password" class="form-control" id="pass" name="password" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

{% endblock %}