<div class="fs-1 d-flex align-items-center justify-content-between">
    <span class="fs-5 fw-bold mode">
    </span>
    <label class="switch">
        <input type="checkbox">
            <span class="slider round">
            </span>
        </input>
    </label>
</div>
<script>
	try{
    const mode = ('; '+document.cookie).split(`; mode=`).pop().split(';')[0];
    var slider = document.querySelector(".slider")
    let checkbox = document.querySelector("input[type='checkbox']")
    if(mode == "Dark"){
        checkbox.checked = true
    }
    else{
        checkbox.checked = false
    }
}
catch{
    console.log("error")
}
</script>