{% extends "layout.html" %}

{% block style %}
<link href="{{url_for('static',filename='css/users.css')}}" rel="stylesheet" type="text/css">
    {% endblock %}
{% block body %}
    <div class="w-25 mx-auto main-div">
        <div class="container card py-3">
            {% include "flash.html" %}
            <div class="px-3 py-3 h-100 con">
                <div class="row align-items-center">
                    <div class="col d-flex">
                        <div class="d-flex">
                            <img class="rounded-circle border pfp border-dark" height="50" src="{{current_user.pic|get_img}}" width="50">
                            
                        </div>
                        <div class="ps-2">
                            <span class="fw-bold fs-5">
                                {{current_user.username}}
                            </span>
                            <br>
                                <span>
                                    Active
                                </span>
                           <i class="fas fa-volume-up ms-1"></i><i class="fas fa-volume-mute ms-1 d-none"></i>
                        </div>
                    </div>
                    <div class="col">
                            <a href="/edit_profile"><button class="mx-1 mb-1 btn btn-dark btn-sm float-end" type="submit">
                                Profile  
                            </button></a>
                        <form action="/logout" method="post" >
                            <button class="mx-1 btn btn-dark btn-sm float-end" type="submit">
                                logout
                            </button>
                        </form>
                    </div>
                </div>
                <hr>
                    <div class="input-group mb-3 align-items-center justify-content-around">
                        <p class="text-muted fw-bold mb-0 p-desc">
                            Choose User To Chat
                        </p>
                        <input class="form-control d-none rounded" id="my_inp" placeholder="Enter Name to Search" type="text" oninput="search()" autocomplete="off">
                            <i aria-hidden="true" class="fa fa-search search">
                            </i>
                            <button class="btn btn-dark d-none close">
                                <i class="fas fa-window-close fa-1x">
                                </i>
                            </button>
                        
                    </div>
                    <div class="user">
                        {% if users|length == 0%}
                        <div class="px-2 d-flex align-items-center justify-content-center h-100 empty">
                            <p class="text-center text-muted">
                                It's empty for now. No user to chat.
                            </p>
                        </div>
                        {% endif %}
                        {% for user in users %}
                        <a href="/chat/{{user.username}}" >
                        <div class="align-items-center d-flex hover py-2">
                            <img class="rounded-circle border border-dark" height="40" src="{{user.pic|get_img}}" width="40" style="aspect-ratio:16/9;">
                            
                            <div class="ps-2" style="white-space: nowrap;">
                                <span class="fw-bold text-dark fs-5 main-data">
                                  {% if user.status == "Online" %} 
                                        <i class="status fa fa-circle text-success " aria-hidden="true" ></i>
                                        {% elif user.status == "Idle" or user.status == "edit" %}
                                        <i class="status fa fa-circle text-warning " aria-hidden="true" ></i>

                                        {% else %}
                                        <i class="status fa fa-circle text-secondary " aria-hidden="true" ></i>
                                    {% endif %}

                                    <span  class="names">{{user.username}}</span>

                                </span>
                                
                                <br>
                                    <span id="to_{{user.username}}" class="span fs-6 fw-lighter text-dark">
                                        {% for i in msg %}
                                        {% if i.get_user == user.username %}{% if i.msg_type == "right" %}
                                        You: {{i.msg}}{% else %}{{i.msg}}{% endif %}
                                        {% endif %}
                                        {% endfor %}
                                </span>
                            </div>
                            <div class="d-flex justify-content-end w-100">
                                <span class="rounded-circle bg-success text-light unseen" >
                                {% for i in unseen_msg %}
                                        {% for a in i%}
                                        {% if a.get_user == user.username and a.msg_type == "left" and loop.index == 1%}
                                        {{i|length}}
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                        </span>
                                    </div>
                        </div>
                        <hr class="m-0 text-dark">
                    </a>
                        
                            {% endfor %}
                       
                    </div>
                
            </div>
        </div>
    </div>
    <input type="hidden" id="current_user" value="{{current_user.username}}">
    {% endblock %}
</link>
    {% block script %}
        <script src="{{url_for('static',filename='js/users.js')}}" type="text/javascript" charset="utf-8" ></script>
    {% endblock %}