{% extends "layout.html" %}

{% block style %}
<link href="{{url_for('static',filename='css/users.css')}}" rel="stylesheet" type="text/css">
    {% endblock %}
{% block body %}
    <div class="w-25 mx-auto main-div">
        <div class="container card py-3">
            {% include "flash.html" %}
            <div class="px-3 py-3 h-100 con">
                <div class="row align-items-center">
                    <div class="col d-flex">
                        <div class="d-flex">
                            <img class="rounded-circle border pfp border-dark" height="50" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Fpopular-services-brands-vol-2%2F512%2Fstackoverflow-512.png&f=1&nofb=1" width="50">
                            
                        </div>
                        <div class="ps-2">
                            <span class="fw-bold fs-5">
                                {{current_user.username}}
                            </span>
                            <br>
                                <span>
                                    Active
                                </span>
                           
                        </div>
                    </div>
                    <div class="col">
                        <form action="/logout" method="post">
                            <button class="btn btn-dark btn-sm float-end" type="submit">
                                logout
                            </button>
                        </form>
                    </div>
                </div>
                <hr>
                    <div class="input-group mb-3 align-items-center justify-content-around">
                        <p class="text-muted fw-bold mb-0 p-desc">
                            Choose User To Chat
                        </p>
                        <input class="form-control d-none rounded" id="my_inp" placeholder="Enter Name to Search" type="text" oninput="search()" autocomplete="off">
                            <i aria-hidden="true" class="fa fa-search search">
                            </i>
                            <button class="btn btn-dark d-none close">
                                <i class="fas fa-window-close fa-1x">
                                </i>
                            </button>
                        
                    </div>
                    <div class="user">
                        {% if users|length == 0%}
                        <div class="px-2 d-flex align-items-center justify-content-center h-100 empty">
                            <p class="text-center text-muted">
                                It's empty for now. No user to chat.
                            </p>
                        </div>
                        {% endif %}
                        {% for user in users %}
                        <a href="/chat/{{user.username}}" >
                        <div class="align-items-center d-flex hover py-2">
                            <img class="rounded-circle border border-dark" height="40" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Fpopular-services-brands-vol-2%2F512%2Fstackoverflow-512.png&f=1&nofb=1" width="40">
                            
                            <div class="ps-2" style="white-space: nowrap;">
                                <span class="fw-bold text-dark fs-5 main-data">
                                  {% if user.status == "Online" %} 
                                        <i class="status fa fa-circle text-success {{user.username}}" aria-hidden="true" ></i>
                                        {% else %}
                                        <i class="status fa fa-circle text-secondary {{user.username}}" aria-hidden="true" ></i>
                                    {% endif %}

                                    <span  class="names">{{user.username}}</span>

                                </span>
                                
                                <br>
                                    <span id="to_{{user.username}}" class="span fs-6 fw-lighter text-dark">
                                        {% for i in msg %}
                                        {% if i.get_user == user.username %}{% if i.msg_type == "right" %}
                                        You: {{i.msg}}{% else %}{{i.msg}}{% endif %}
                                        {% endif %}
                                        {% endfor %}
                                </span>

                            </div>
                            <div class="d-flex justify-content-end w-100">
                                <span class="rounded-circle bg-success text-light unseen" >
                                {% for i in unseen_msg %}
                                        {% for a in i%}
                                        {% if a.get_user == user.username and a.msg_type == "left" and loop.index == 1%}
                                        {{i|length}}
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                        </span>
                                    </div>
                        </div>
                        <hr class="m-0 text-dark">
                    </a>
                        
                            {% endfor %}
                       
                    </div>
                
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
        socket = io.connect(document.href );
        // last message shower
socket.on("msg",data=>{
    data.rec_user == "{{current_user.username}}" ? $($($(`a[href="/chat/${data.user}"]`).children().children()[1]).children()[2]).html(data.msg) : $($($(`a[href="/chat/${data.rec_user}"]`).children().children()[1]).children()[2]).html(`You: ${data.msg}`)    
})      
socket.on("change_ok",data => {
    // date
    // data.user == "{{current_user.username}}" ? :
    $($($(`a[href="/chat/${data.user}"]`).children().children()[1]).children()[2]).html(data.msg)
})
        if ($(".unseen")[0]){
             if ($(".unseen")[0].innerText == "") $(".unseen").hide()
    }
document.querySelectorAll(".span").forEach(function(e){if (e.innerText == ""){e.innerText = "Hey There"}})
socket.on("regis", data => {
    $(".empty").remove()
    $(".user").append(`<a href="/chat/${data}" >
                        <div class="align-items-center d-flex hover py-2">
                            <img class="rounded-circle border border-dark" height="40" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Fpopular-services-brands-vol-2%2F512%2Fstackoverflow-512.png&f=1&nofb=1" width="40">
                            
                            <div class="ps-2" style="white-space: nowrap;">
                                <span class="fw-bold text-dark fs-5 main-data">
                                        <i class="status fa fa-circle text-secondary ${data}" aria-hidden="true" ></i>

                                    <span  class="names"></span>

                                </span>
                                
                                <br>
                                    <span id="to_${data}" class="span fs-6 fw-lighter text-dark">
                                        Hey There
                                </span>

                            </div>
                            
                        </div>
                        <hr class="m-0 text-dark">
                    </a>
`)

     a = document.createTextNode(data)
      $(".main-data").last().append(a)
  })

//  status shower
        socket.on("status",data=>{
        if (data.status == "Online"){
            $(`.${data.user}`).attr("class",`status fa fa-circle text-success ${data.user}`)
        }else{
            $(`.${data.user}`).attr("class",`status fa fa-circle text-secondary ${data.user}`)
        }

    })
        //  typing
        arr = new Set()
         socket.on("type", data => {
            spans = $($($(`a[href="/chat/${data.user}"]`).children().children()[1]).children()[2])
            arr.add(spans.text())
    if (data.user != "{{current_user.username}}"){
    if (data.typing == true) {
        spans.html("<span style='color:green;font-weight:bold;'>Typing..<span>")
    }
    else {
        var span_text = arr.values().next().value;
        spans.text(span_text)
    }
  }
})
        // search of on
        $(".search").click(function(){
       $(this).hide() 

       $("#my_inp").removeClass("d-none")
       $("#my_inp").focus()
       $(".p-desc").addClass("d-none")
       $(".close").removeClass("d-none")
    })
    $(".close").click(function(){
        $(".user a").css("display","initial")
            $(".nouser").remove()

        $(this).addClass("d-none") 
        $(".search").show()
        $(".p-desc").removeClass("d-none")
        $("#my_inp").addClass("d-none")
    })
})
//  search filter
const isnone = (currentValue) => currentValue.style.display == "none";
    var search = () =>{
        var filter = $("#my_inp").val().toUpperCase()
        var names = $(".user a .names")
        for  (i=0;i < names.length;i++){
            if (names[i].innerText.toUpperCase().indexOf(filter) > -1){
                $(".user a")[i].style.display = "initial"
            }
            else{
             $(".user a")[i].style.display = "none"   
            }
        }
        
        if (Array.prototype.slice.call($(".user a")).every(isnone)) {
            if ($(".nouser").length == 0) {
                $(".user").append(` <div class=" nouser px-2 d-flex align-items-center justify-content-center h-100 empty">
                            <p class="text-center text-muted">
                                No user found
                            </p>
                        </div>`)
            }
        }
        else{
            $(".nouser").remove()
        }
    }



    </script>
    {% endblock %}
</link>